#root {
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
}

body,
html {
  height: 100%;
  width: 100vw;
  background-color: #eff2f5;
  padding: 0;
  margin: 0;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  max-width: 900px;
  gap: 1em;
  justify-items: center;
}

.home_container {
  margin: 2em auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.book_screen {
  width: 100%;
  height: 100%;
  display: flex;
}

.footer {
  margin-top: auto;
  margin-bottom: 2em;
}

.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 850px) {
  .home_container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .grid_container {
    width: 100%;
    margin: 2em 0;
  }

  .book_screen {
    width: 100%;
    flex-direction: column;
  }
}
